<mat-card class="stock-card" [ngClass]="{ increase: isPositive(), decrease: isNegative() }">
  <span>
    <mat-card-content>
        <h4 style="color: #fff; margin: 0;">
            {{ stock?.symbol?.toUpperCase() }}<br />
            {{ stock?.lastTradePriceOnly | currency: 'USD':'symbol':'.2' }}<br />
            {{ stock?.change | currency: 'USD':'symbol':'.2' }} ({{
              stock?.changeInPercent | percent: '.2'
            }})
        </h4>
    </mat-card-content>
  </span>
</mat-card>