<div class="container" class="manage-form">
    <form (submit)="add()">
      <mat-form-field>
        <input
          name="stock"
          [(ngModel)]="stock"
          matInput
          type="text"
          placeholder="Add Stock"
        />
      </mat-form-field>
    </form>
    <table
      class="manage-form"
    >
      <tbody>
        <tr *ngFor="let symbol of symbols">
          <td class="manage-td">{{ symbol }}</td>
          <td>
            <button mat-button color="warn" (click)="remove(symbol)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
