<mat-card>
    <mat-card-title>Update Profile</mat-card-title>
    <mat-card-content>
        <form [formGroup]="profileUpdateForm" (onSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <mat-select formControlName="title" name="title">
                        <mat-option>---</mat-option>
                        <mat-option *ngFor="let title of titles" [value]="title.value">
                            {{title.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f.title.errors">
                        <mat-error *ngIf="f.title.errors.required">Title is required</mat-error>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput formControlName="firstName" placeholder="Firstname" name="firstName" required>
                    <mat-error *ngIf="submitted && f.firstName.errors">
                        <mat-error *ngIf="f.firstName.errors.required">FirstName is required</mat-error>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="lastName" formControlName="lastName"/>
                    <mat-error *ngIf="submitted && f.lastName.errors">
                        <mat-error *ngIf="f.lastName.errors.required">Last Name is required</mat-error>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput formControlName="email" placeholder="Email" required />
                    <mat-error *ngIf="submitted && f.email.errors">
                        <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                        <mat-error *ngIf="f.email.errors.email">Email must be a valid email address</mat-error>
                    </mat-error>
                </mat-form-field>
            </p>
            <h3>Change Password</h3>
            <p>Leave blank to keep the same password</p>
            <p>
                <mat-form-field>
                    <input type="password" matInput formControlName="password" placeholder="Password" />
                    <mat-error *ngIf="submitted && f.password.errors">
                        <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                        <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters</mat-error>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput formControlName="confirmPassword" placeholder="ConfirmPassword" required />
                    <mat-error *ngIf="submitted && f.confirmPassword.errors">
                        <mat-error *ngIf="f.confirmPassword.errors.required">Confirm Password is required</mat-error>
                        <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Password must match</mat-error>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <button mat-button type="submit" [disabled]="loading">
                    <span *ngIf="loading"></span>
                    Update
                </button>
                <button mat-button type="button" (click)="onDelete()" [disabled]="deleting" >
                    <span *ngIf="deleting"></span>
                    Delete
                </button>
                <a routerLink="../" href="" class="btn btn-link">Cancel</a>
            </p>
        </form>
    </mat-card-content>
</mat-card>