<mat-card>
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>
               <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email" required/>
                <mat-error *ngIf="f.email.invalid">Please enter a valid email.</mat-error>
               </mat-form-field>
            </p>
            <div class="button">
                <button [disabled]="loading" mat-button>
                    <span *ngIf="loading"></span>
                    Submit
                </button>
            </div>
        </form>
    </mat-card-content>
    <p>Cancel? <a routerLink="/account/login"> Login</a></p>
</mat-card>

